In [1]:
# importando bibliotecas 

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# importando o arquivo 
ss = pd.read_csv('./ss.csv')

In [3]:
# conferencia dados importados
ss.head()

,name,i_ss,i_Module,Contagem de i_ss_tramites,DateEntry
0,Bruno de Avila Lima,636618,Contabilidade,3,2021-07-01
1,Bruno de Avila Lima,636737,Escrita,2,2021-07-01
2,Bruno de Avila Lima,636750,Protocolo,2,2021-07-01
3,Bruno de Avila Lima,636789,Escrita,7,2021-07-01
4,Bruno de Avila Lima,636795,Escrita,3,2021-07-01

In [4]:
# renomeando coluna para facilitar
ss.rename(columns={'Contagem de i_ss_tramites': 'tramites'}, inplace = True)

In [40]:
# conferindo a alteração
ss.head()

                  name    i_ss       i_Module  tramites   DateEntry
0  Bruno de Avila Lima  636618  Contabilidade         3  2021-07-01
1  Bruno de Avila Lima  636737        Escrita         2  2021-07-01
2  Bruno de Avila Lima  636750      Protocolo         2  2021-07-01
3  Bruno de Avila Lima  636789        Escrita         7  2021-07-01
4  Bruno de Avila Lima  636795        Escrita         3  2021-07-01

In [62]:
# slice apenas da 'Contabilidade'
fiscont = ss[ss['i_Module'] == 'Contabilidade']

In [45]:
# conferindo o slice
print(fiscont)

                          name    i_ss       i_Module  tramites   DateEntry
0          Bruno de Avila Lima  636618  Contabilidade         3  2021-07-01
6          Bruno de Avila Lima  636822  Contabilidade         7  2021-07-01
7          Bruno de Avila Lima  636832  Contabilidade         5  2021-07-01
12         Bruno de Avila Lima  636927  Contabilidade         2  2021-07-01
13         Bruno de Avila Lima  636964  Contabilidade         2  2021-07-02
...                        ...     ...            ...       ...         ...
20873  Rosiani Sartor Paganini  718741  Contabilidade         2  2022-06-28
20875  Rosiani Sartor Paganini  718777  Contabilidade         2  2022-06-28
20881  Rosiani Sartor Paganini  718863  Contabilidade         3  2022-06-29
20882  Rosiani Sartor Paganini  718865  Contabilidade         4  2022-06-29
20884  Rosiani Sartor Paganini  718897  Contabilidade         6  2022-06-29

[3581 rows x 5 columns]

In [67]:
# conferindo média, mediana, desvio padrão do DF geral
media = ss['tramites'].mean()
mediana = ss['tramites'].median()
dsv = ss['tramites'].std()

print(media)
print(mediana)
print(dsv)

4.978406588145169
4.0
3.959268687603732

In [69]:
# conferindo média, mediana, desvio padrão do DF 'Contabilidade'

mediacont = fiscont['tramites'].mean()
medianacont = fiscont['tramites'].median()
dsvcont = fiscont['tramites'].std()

print(mediacont)
print(medianacont)
print(dsvcont)

4.810388159731918
3.0
3.934812878802419

In [73]:
# slice apenas do 'Fiscal'
fisc = ss[ss['i_Module'] == 'Escrita']

In [74]:
fisc.head()

                   name    i_ss i_Module  tramites   DateEntry
1   Bruno de Avila Lima  636737  Escrita         2  2021-07-01
3   Bruno de Avila Lima  636789  Escrita         7  2021-07-01
4   Bruno de Avila Lima  636795  Escrita         3  2021-07-01
8   Bruno de Avila Lima  636841  Escrita         9  2021-07-01
10  Bruno de Avila Lima  636881  Escrita         3  2021-07-01

In [75]:
# conferindo média, mediana, desvio padrão do DF 'Contabilidade'

mediafisc = fisc['tramites'].mean()
medianafisc = fisc['tramites'].median()
dsvfisc = fisc['tramites'].std()

print(mediafisc)
print(medianafisc)
print(dsvfisc)

5.124636275460718
4.0
3.9801444272245363

In [78]:
tramite2 = ss[ss['tramites'] <= 2]

In [79]:
tramite2.head()

                   name    i_ss       i_Module  tramites   DateEntry
1   Bruno de Avila Lima  636737        Escrita         2  2021-07-01
2   Bruno de Avila Lima  636750      Protocolo         2  2021-07-01
5   Bruno de Avila Lima  636796          Geral         2  2021-07-01
12  Bruno de Avila Lima  636927  Contabilidade         2  2021-07-01
13  Bruno de Avila Lima  636964  Contabilidade         2  2021-07-02

In [82]:
tramite2.count()

name         6097
i_ss         6097
i_Module     6097
tramites     6097
DateEntry    6097
dtype: int64

In [83]:
tramite3 = ss[ss['tramites'] > 3]

In [84]:
tramite3.count()

name         10941
i_ss         10941
i_Module     10941
tramites     10941
DateEntry    10941
dtype: int64

In [86]:
6097 / 10941

0.5572616762635957

In [ ]:
60